body{
    text-align: center;
    background-color: rgb(192, 225, 131);
}
p{
   
    font-size: 15px;
    text-align: center;
    
}

.box{
    
    width: 45px;
    margin-left: 150px;
}

.pre{

    margin: 10px;
    border-radius: 35;
    font-size: 20px;
  
    



}